<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ macos_session_env_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>{% for key, value in macos_session_env.items() %}launchctl setenv {{ key }} '{{ value }}'{% if not loop.last %}; {% endif %}{% endfor %}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
