[user]
  email = hi@sdrm.me
  name = S Dermoumi
  signingkey = 8A24B0371B58404D

[commit]
	gpgsign = true

[core]
  excludesfile = ~/.dotfiles/.global-gitignore

[color]
	ui = true

[log]
	date = short

[init]
  defaultBranch = main

[push]
  default = simple
  autoSetupRemote = true

[pull]
	rebase = false

[alias]
  a = add
  aa = add --all
  am = amend -m
  ap = commit --amend --no-edit
  b = blame
  br = branch
  c = commit
  cln = clean
  cm = commit -m
  co = checkout
  cp = cherry-pick
  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  # Better looking diff
  df = diff --color --color-words --abbrev
  # Compare logs to main
  dfmain = log --no-merges main..
  fa = fetch --all
  g = grep --break --heading --line-number
  # Reset all files to last commit
  hreset = reset --hard HEAD
  l = log
  lo = log --oneline
  lg = log --graph --pretty=format:'%>|(26) %C(yellow)%h %C(cyan)%ad %C(reset)%s%C(green)%d %C(bold blue)<%an>%C(reset)'
  m = merge
  p = push
  pf = push --force-with-lease
  pl = pull
  pp = push -o ci.skip
  r = reset
  rf = restore
  rv = revert
  sb = switch
  sc = checkout
  sh = show
  sp = stash push
  ss = stash show
  st = status
  # grep TODO and FIXME from staged changes
  todo = grep --break --heading --line-number -e TODO -e FIXME
  # Undo the commit but keep changes
  undo = reset HEAD~
  up = pull --rebase=preserve

[url "git@github.com:"]
  insteadOf = "gh:"

[url "git@gitlab.com:"]
  insteadOf = "gl:"
