binds {

    // ────────────── Keybindings ──────────────
    // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

    // ─── noctalia-shell keybinds ───
    // https://docs.noctalia.dev/getting-started/keybinds/

    Mod+Shift+Slash                     { show-hotkey-overlay; }

    // ─── Applications ───
    Mod+Return                          hotkey-overlay-title="Attach tmux" { spawn "xdg-terminal-exec" "/home/sdrm/.dotfiles/scripts/tmux-attach"; }
    Mod+Shift+Return                    hotkey-overlay-title="Open Terminal" { spawn "xdg-terminal-exec" "/usr/bin/zsh"; }
    Mod+Space                           hotkey-overlay-title="Open App Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Ctrl+Space                      hotkey-overlay-title="Open App Launcher" { spawn-sh "noctalia msg panel-toggle launcher '/emo '"; }
    Mod+B                               hotkey-overlay-title="Open Browser" { spawn "firefox"; }
    Mod+CTRL+A                          hotkey-overlay-title="Lock Screen" { spawn-sh "noctalia msg session lock"; }
    Mod+Shift+Q                         hotkey-overlay-title="Session Menu" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+E                               hotkey-overlay-title="File Manager" { spawn "nautilus"; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "noctalia msg media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "noctalia msg media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "noctalia msg media playPause"; }

    // ─── Brightness Controls ───
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "noctalio msg brightness-down"; }

    Ctrl+Alt+Super+Prior                allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    Ctrl+Alt+Super+Next                 allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

    // ─── Window Movement and Focus ───
    Mod+Q                               { close-window; }

    Mod+H                               { focus-column-left; }
    Mod+L                               { focus-column-right; }
    Mod+K                               { focus-window-up; }
    Mod+J                               { focus-window-down; }

    Mod+Shift+H                         { move-column-left; }
    Mod+Shift+L                         { move-column-right; }
    Mod+Shift+K                         { move-window-up; }
    Mod+Shift+J                         { move-window-down; }

    Mod+Home                            { focus-column-first; }
    Mod+End                             { focus-column-last; }
    Mod+CTRL+Home                       { move-column-to-first; }
    Mod+CTRL+End                        { move-column-to-last; }

    Mod+Shift+Left                      { focus-monitor-left; }
    Mod+Shift+Right                     { focus-monitor-right; }
    Mod+Shift+UP                        { focus-monitor-up; }
    Mod+Shift+Down                      { focus-monitor-down; }

    Mod+Shift+CTRL+Left                 { move-column-to-monitor-left; }
    Mod+Shift+CTRL+Right                { move-column-to-monitor-right; }
    Mod+Shift+CTRL+UP                   { move-column-to-monitor-up; }
    Mod+Shift+CTRL+Down                 { move-column-to-monitor-down; }

    // shortcut on my g502
    Mod+CTRL+Left                       { focus-column-left; }
    Mod+CTRL+Right                      { focus-column-right; }

    // ─── Workspace Switching ───
    Mod+WheelScrollRight                cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollLeft                 cooldown-ms=150 { focus-workspace-up; }
    Mod+CTRL+WheelScrollRight           cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+CTRL+WheelScrollLeft            cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollDown                 { focus-column-right; }
    Mod+WheelScrollUp                   { focus-column-left; }
    Mod+CTRL+WheelScrollDown            { move-column-right; }
    Mod+CTRL+WheelScrollUp              { move-column-left; }

    Mod+Shift+WheelScrollDown           { focus-workspace-down; }
    Mod+Shift+WheelScrollUp             { focus-workspace-up; }
    Mod+CTRL+Shift+WheelScrollDown      { move-column-to-workspace-down; }
    Mod+CTRL+Shift+WheelScrollUp        { move-column-to-workspace-up; }

    Mod+Ctrl+Alt+1                      { focus-workspace "d1"; }
    Mod+Ctrl+Alt+2                      { focus-workspace "d2"; }
    Mod+Ctrl+Alt+3                      { focus-workspace 3; }
    Mod+Ctrl+Alt+4                      { focus-workspace 4; }
    Mod+Ctrl+Alt+5                      { focus-workspace 5; }
    Mod+Ctrl+Alt+6                      { focus-workspace 6; }
    Mod+Ctrl+Alt+7                      { focus-workspace 7; }
    Mod+Ctrl+Alt+8                      { focus-workspace 8; }
    Mod+Ctrl+Alt+9                      { focus-workspace 9; }
    Mod+Ctrl+Alt+0                      { focus-workspace "d0"; }

    Mod+Ctrl+Alt+Shift+1                { move-column-to-workspace "d1"; }
    Mod+Ctrl+Alt+Shift+2                { move-column-to-workspace "d2"; }
    Mod+Ctrl+Alt+Shift+3                { move-column-to-workspace 3; }
    Mod+Ctrl+Alt+Shift+4                { move-column-to-workspace 4; }
    Mod+Ctrl+Alt+Shift+5                { move-column-to-workspace 5; }
    Mod+Ctrl+Alt+Shift+6                { move-column-to-workspace 6; }
    Mod+Ctrl+Alt+Shift+7                { move-column-to-workspace 7; }
    Mod+Ctrl+Alt+Shift+8                { move-column-to-workspace 8; }
    Mod+Ctrl+Alt+Shift+9                { move-column-to-workspace 9; }
    Mod+Ctrl+Alt+Shift+0                { move-column-to-workspace "d0"; }

    Mod+TAB                             { focus-workspace-previous; }

    // ─── Layout Controls ───
    Mod+O                               { switch-preset-column-width; }
    Mod+Ctrl+Shift+Return               { set-column-width "100%"; }
    Mod+Ctrl+O                          { expand-column-to-available-width; }
    Mod+CTRL+T                          { center-column; }
    Mod+CTRL+H                          { set-column-width "-10%"; }
    Mod+CTRL+L                          { set-column-width "+10%"; }
    Mod+CTRL+J                          { set-window-height "-10%"; }
    Mod+CTRL+K                          { set-window-height "+10%"; }
    Mod+CTRL+Shift+H                    { set-column-width "-5%"; }
    Mod+CTRL+Shift+L                    { set-column-width "+5%"; }
    Mod+CTRL+Shift+J                    { set-window-height "-5%"; }
    Mod+CTRL+Shift+K                    { set-window-height "+5%"; }

    // ─── Modes ───
    Mod+F                               { toggle-window-floating; }
    Mod+Shift+F                         { fullscreen-window; }

    // Tabs
    Mod+Ctrl+G                          { toggle-column-tabbed-display; }
    Mod+Alt+H                           { consume-window-into-column; }
    Mod+Alt+L                           { expel-window-from-column; }

    // ─── Screenshots ───
    Mod+Shift+S                         { screenshot; }
    // CTRL+Shift+2                        { screenshot-screen; }
    // CTRL+Shift+3                        { screenshot-window; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+Delete                     { quit; } // Also quits Niri
    Mod+Shift+M                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)

    // ─── Tools ───
    Mod+Shift+Space                     { spawn "/home/sdrm/.dotfiles/scripts/toggle-dark-mode"; }
}
