window-rule {
  geometry-corner-radius 3 // Set every window radius to 20
  clip-to-geometry true
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

// Run vesktop in the D0 workspace
window-rule {
  match app-id="vesktop"

  open-on-workspace "D0"
}
