window-rule {
  match app-id="firefox"

  default-column-width { proportion 0.7; }
}

window-rule {
  geometry-corner-radius 3 // Set every window radius to 20
  clip-to-geometry true
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
