window-rule {
  geometry-corner-radius 3 // Set every window radius to 20
  clip-to-geometry true
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

// Run vesktop in the D0 workspace
window-rule {
  match app-id="vesktop"

  open-on-workspace "D0"
}

// Windscribe window to be floating near the tray
window-rule {
  match app-id="Windscribe"

  open-floating true
  draw-border-with-background false
  default-floating-position x=16 y=16 relative-to="bottom-right"
  block-out-from "screencast"
}

